{% extends 'Center/Header.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Center Profile</title>
</head>
<body>
    <center>
        <form action="" method="post">
            {% csrf_token %}
        <table border="1" rules="none">
            <tr>
                <td colspan="2" align="center"><img src={{center.center_logo}} width="150" height="150" ></td>
            </tr>
            <tr>
                <td>Center Name</td>
                <td>{{center.center_name}}</td>
            </tr>
            <tr>
                <td>Contact</td>
                <td>{{center.center_contact}}</td>
            </tr>
            <tr>
                <td>Email</td>
                <td>{{center.center_email}}</td>
            </tr>
            <tr>
                <td>Type</td>
                <td>{{center.center_type}}</td>
            </tr>
            <tr>
                <td>District</td>
                <td>{{disdata.district_name}}</td>
            </tr>
            <tr>
                <td>City</td>
                <td>{{citydata.city_name}}</td>
            </tr>
            <tr>
                <td>Area</td>
                <td>{{center.center_area}}</td>
            </tr>
            <tr>
                <td>Building</td>
                <td>{{center.center_building}}</td>
            </tr>
            <tr>
                <td>Landmark</td>
                <td>{{center.center_landmark}}</td>
            </tr>
            <tr>
                <td colspan="2">
                    <a href="{{ center.center_proof }}">Proof</a>
                    <td colspan="2"><a href="{% url 'webcenter:centereditprofile' %}">Edit Profile</a>
                    <td colspan="2"><a href="{% url 'webcenter:centerchangepassword' %}">Change Password</a>
                </td>
            </tr>
           

        </table>
    </form>
    </center>
    
</body>
</html>
{% endblock content %}