<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Center Change Password</title>
</head>
<body>
    <center>
        <table border="1" rules="none">
            <tr>
                <td>Old Password</td>
                <td><input type="password" name="txtoldpass" id=""></td>
            </tr>
            <tr>
                <td>New Password</td>
                <td><input type="password" name="txtnewpass" id=""></td>
            </tr>
            <tr>
                <td>Confirm New Password</td>
                <td><input type="password" name="txtconfirmnewpass" id=""></td>
            </tr>
            <tr>
                <td colspan="2" align="center"><input type="submit" value="Change" name="btnchange"></td>
            </tr>
        </table>
    </center>
    
</body>
</html>