{% extends 'Center/Header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Center Add Course</title>
</head>
<body>
    <center>
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
    <table border="1" rules="none">
        <tr>
            <td>Image</td>
            <td><input type="file" name="txtimage" id="txtimage"></td>
        </tr>
        <tr>
            <td colspan="2" align="center"><input type="submit" value="Submit" name="btnsubmit"></td>
        </tr>
    </table>
</form><br><br>
<table border="1">
    <tr>
        <td>SL No:</td>
        <td>Image:</td>
        <td>Action:</td>
    </tr>
   {% for i in data  %}
    <tr>
        <td>{{forloop.counter}}</td>
        <td><img src="{{i.image_data.gallery_image}}" alt="" width="150" height="100"></td>
        <td> <a href="{% url  'webcenter:delete_image' i.id %}">Delete</a></td>
    </tr>
    {% endfor %}
</table>
</center>
    
</body>
{% if msg %}
<script>
    alert("{{msg}}")
    window.location="/Center/centeraddimage/{{id}}"
</script>
{% endif %}

</html>
{% endblock content %}