<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Center Add Course</title>
</head>
<body>
    <center>
        <form action="" method="post">
            {% csrf_token %}
        <table border="1" rules="none">
            <tr>
                <td>Category</td>
                <td><select name="selcategory" id="selcategory" ><option value="">---select---</option>
                    {% for i in data %}
                        {% if i.id == subcat.category_id %}
                        <option value="{{i.id}}" selected>{{i.cat_data.category_name}}</option>
                        {% else %}
                        <option value="{{i.id}}" >{{i.cat_data.category_name}}</option>
                        {% endif %}
                        {% endfor %}
                </select></td>
            </tr>
            <tr>
                <td>SubCategory</td>
                <td><select name="selsubcategory" id="selsubcategory"><option value="">---select---</option>
                    {% if i.id == course_data.subcategory_id %}
                        <option value="{{i.id}}" selected>{{i.subcat.subcategory_name}}</option>
                        {% else %}
                        <option value="{{i.id}}" >{{i.subcat.subcategory_name}}</option>
                        {% endif %}
                </select></td>
            </tr>
            <tr>
                <td>Course Name</td>
                <td><input type="text" name="txtcoursename" id="" value="{{course_data.course_name}}"></td>
            </tr>
            <tr>
                <td>Course Description</td>
                <td><input type="text" name="txtcoursedes" id="" value="{{course_data.course_des}}"></td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" value="Submit" name="btnsubmit"></td>
            </tr>
            <!-- <tr>
                <td colspan="2" align="center"><a href="CenterAddPackage.html">Add Package</a></td>
            </tr>
            <tr>
                <td colspan="2" align="center"><a href="CenterAddImage.html">Add Image</a></td>
            </tr> -->

        </table>
        <br>

        <table border="1">
            <tr>
                <td>Sl No</td>
                <td>Category Name</td>
                <td>SubCategory Name</td>
                <td>Course Name</td>
                <td>Course Description</td>
                <td>Action</td>
                <td>Package Details</td>
                <td>Images</td>
            </tr>
            {% for i in course  %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{i.category.category_name}}</td>
                <td>{{i.subcategory.subcategory_name}}</td>
                <td>{{i.course_data.course_name}}</td>
                <td>{{i.course_data.course_des}}</td>
                <td>
                    <a href="{% url  'webcenter:delete_course' i.id %}">Delete</a>
                   
                </td>
                <td><a href="{% url 'webcenter:centeraddpackage' i.id %}">Add Packages</a></td>
                <td><a href="{% url 'webcenter:centeraddimage' i.id %}">Add Images</a></td>
            </tr>
            {% endfor %}
           
        </table>
    </form>
    </center>
    
</body>
</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $("#selcategory").change(function () {
        var did = $(this).val();
        var ur = "{% url 'webcenter:ajaxsubcategory' %}"
        $.ajax({
            url: ur,
            data: { did: did, },
            success: function (data) {
                $("#selsubcategory").html(data);
            },
        });
    });
</script>