{% extends 'Center/Header.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<title>Hobbio::View User Ratings</title>
<style>
    .card {
        width: 80%;
        margin: 20px auto;
        background-color: white;
        border-radius: 8px;
        padding: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    table {
        margin: 0 auto;
        width: 100%;
    }
    td, th {
        padding: 8px;
        text-align: center;
    }
    .reply-link {
        color: green;
        text-decoration: none;
    }
    .reply-link:hover {
        text-decoration: underline;
    }
</style>
</head>

<body>

<center>
    <br><br>
    <div class="card">


<form action="">
    {% csrf_token %}
    <h3>User Ratings</h3><br>
<table width="1119" border="1" >
  <tr>
   	<th width="175" >SL No</th>
    <th width="175" >User Name</th>
     <th width="175" >Rating Value</th>
     <th width="175" >Comment</th>
    <th width="175" >Rated On</th>

  </tr>
  {% for i in data %}
  <tr>


    <td align="center" >{{forloop.counter}}</td>
    <td align="center" >{{i.rate.user_name}}</td>
    <td align="center" >{{i.rate.rating_data}}</td>
    <td align="center" >{{i.rate.user_review}}</td>
    <td align="center" >{{i.rate.date}}</td>
   
   
  </tr>
  {% endfor %}
 
 

</table>
<br /><br>


</form>
</div>
</center>



</body>
</html>
{% endblock content %}