{% extends 'Admin/Header.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>City</title>
</head>
<body>
    <center>
        <br><br>
        <h3 style="font-weight: bold;">Cities</h3>
        <form action="" method="post">
            {% csrf_token %}
            <div style=" box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            transition: 0.3s;
            width: fit-content;
            margin: auto;
            padding: 20px;
            border-radius: 10px;
            background-color: #ffffff;">
            <table border="1" rules="none" cellspacing="10" cellpadding="30">
                <tr>
                    
                    <td style=" padding: 10px;
                    border: 1px solid #ddd;">District Name</td>
                    
                    <td style=" padding: 10px;
                    border: 1px solid #ddd;"><select name="seldistrict" id="">
                        <option>--select--</option>
                        {% for i in data %}
                        {% if i.id == city_data.district_id %}
                        <option value="{{i.id}}" selected>{{i.dis_data.district_name}}</option>
                        {% else %}
                        <option value="{{i.id}}" >{{i.dis_data.district_name}}</option>
                        {% endif %}
                        {% endfor %}
                    </select></td>
                    
                    
                </tr>
                <tr >
                    <td style=" padding: 10px;
                    border: 1px solid #ddd;">City Name</td>
                    <td style=" padding: 10px;
                    border: 1px solid #ddd;"><input type="text" name="txtcity" id="" value="{{city_data.city_name}}"></td>
                </tr>
                <tr>
                    <td colspan="2" align="center" style=" padding: 10px;
                    border: 1px solid #ddd;">
                        <input type="submit" value="Save" name="btnsave" style="background-color: #262e8a;
                        color: white;
                        padding: 10px 20px;
                        border: none;
                        border-radius: 4px;
                        cursor: pointer;
                        margin-right: 10px;">
                        <input type="reset" value="Cancel" name="btncancel" style="background-color: #262e8a;
                        color: white;
                        padding: 10px 20px;
                        border: none;
                        border-radius: 4px;
                        cursor: pointer;
                        margin-right: 10px;">
                    </td>
                </tr>
               

            </table>
        </div><br><br>
            <table border="1">
                <tr>
                    <td align="center"  style=" padding: 10px;
                    border: 1px solid #ddd; font-weight: bold;">Sl No</td>
                    <td align="center" style=" padding: 10px;
                    border: 1px solid #ddd; font-weight: bold;">District Name</td>
                    <td align="center" style=" padding: 10px;
                    border: 1px solid #ddd; font-weight: bold;">City Name</td>
                    <td align="center" style=" padding: 10px;
                    border: 1px solid #ddd; font-weight: bold;">Action</td>
                </tr>
                {% for i in city  %}
                <tr>
                    <td align="center" style=" padding: 10px;
                    border: 1px solid #ddd; ">{{forloop.counter}}</td>
                    <td align="center" style=" padding: 10px;
                    border: 1px solid #ddd;">{{i.dis_name.district_name}}</td>
                    <td align="center" style=" padding: 10px;
                    border: 1px solid #ddd;">{{i.city_data.city_name}}</td>
                    <td align="center" style=" padding: 10px;
                    border: 1px solid #ddd;">
                        <a href="{% url  'webadmin:delete_city' i.id %}" style="color: red;">Delete</a><br>
                        <a href="{% url  'webadmin:edit_city' i.id %}">Edit</a>
                    </td>
                </tr>
                {% endfor %}
               
            </table>
        </form>
    </center>
    
</body>
</html>
{% endblock content %}