{% extends 'User/Header.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10.16.0/dist/sweetalert2.min.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<title>Hobbio::View Favorites</title>
<style>
    .card {
        width: 80%;
        margin: 20px auto;
        background-color: white;
        border-radius: 8px;
        padding: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    table {
        margin: 0 auto;
        width: 100%;
    }
     th, td {
        padding: 10px;
        text-align: center;
    } 
   
  </style>
</head>

<body>
    <br><br>
<center>
  <div class="card">
    <form action="">
        {% csrf_token %}

<h3>Your Favorite Courses And Centers</h3>

<table border="1" cellspacing="0" cellpadding="3" style="width: 100%;
    border-collapse: collapse;
    margin-top: 18px;">
<tr>


<th align="center" >Course Name</th>
<th align="center" >Course Description</th>
<th align="center" >Center Name</th>
<th align="center">Center Contact</th>
<th align="center" >Center Type</th>
<th align="center" >Center Address</th>


<th align="center" >Center Email</th>
<th align="center" >Action</th>
</tr>
{% for i in data %}
<tr>





    
    
     <td align="center" >{{i.course.course_name}}</td>
      <td align="center" >{{i.course.course_des}}</td>
       <td align="center" >{{i.center.center_name}}</td>
        <td align="center" >{{i.center.center_contact}}</td>
        <td align="center" >{{i.center.center_type}}</td>
         <td align="center" >{{i.center.center_area}}<br>{{i.center.center_building}}<br>{{i.center.center_landmark}}
        </td>
         
         <td align="center" >{{i.center.center_email}}</td>
         <td align="center" ><a href="{% url  'webuser:favdel' i.id %}">Remove</a></td>
    
       
           </tr>



{% endfor %}
</table><br />



</form>
</div>
</center>
</body>

</html>

{% endblock content %}