<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Center</title>
</head>
<body>
    <center>
        <br><br>
        <h3>{{center_data.center_name}}</h3>
    <form action="" method="post">
        {% csrf_token %}

        <table border="1">
            <tr>
                <td>Course Name:</td>
                <td>Course Description:</td>
                <td></td>
                
            </tr>
            {% for i in data  %}
            <tr>
                
                <td>{{i.course_data.course_name}}</td>
                <td>{{i.course_data.course_des}}</td>
                <td><a href="{% url 'webuser:viewpackages' i.id %}">View Packages</a><br>
                    <a href="{% url 'webuser:viewimages' i.id %}">View Images</a></td>
                
            </tr>
            {% endfor %}
        </table>

    </form>
</center> 
</body>
</html>